[1, 2, 3, 4, 5]. Multiply everything by 10

[10, 20, 30, 40, 50]

In [1]:
output = []
for num in [1, 2, 3, 4, 5]:
    output.append(10 * num)

In [2]:
output

[10, 20, 30, 40, 50]

In [3]:
# List Comprehension
nums = [1, 2, 3, 4, 5]
[i * 10 for i in nums]

[10, 20, 30, 40, 50]

[1, 2, 3, 4, 5] Square all the numbers

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [13]:
nums = [1, 2, 3, 4, 5]
output = {}
for i in nums:
    output[i] = i**2

In [14]:
output

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [17]:
{i: i ** 2 for i in nums if i % 2 == 0}

{2: 4, 4: 16}

{1:'Odd', 2: 'Even'}

In [22]:
{i: 'Even' for i in nums if i % 2 == 0}

{2: 'Even', 4: 'Even'}

In [5]:
students = {}
students['Omolewa'] = 20

In [6]:
students

{'Omolewa': 20}

In [7]:
students['Loko'] = 55

In [8]:
students

{'Omolewa': 20, 'Loko': 55}

In [9]:
students['Loko'] = 5

In [10]:
students

{'Omolewa': 20, 'Loko': 5}

In [11]:
students['Dele'] = 100

In [12]:
students

{'Omolewa': 20, 'Loko': 5, 'Dele': 100}

In [23]:
# Generator
nums = [1, 2, 3, 4, 5]
gen = (i * 10 for i in nums)

In [29]:
next(gen)

StopIteration:

In [30]:
#### Module

In [31]:
import math

In [32]:
math.factorial(3)

6

In [33]:
import datetime

In [34]:
import datetime as dt

In [35]:
import math as omolewa

In [ ]:
omolewa.factorial

In [36]:
from math import factorial as fact

In [37]:
from math import factorial, comb

In [38]:
import math, datetime

In [39]:
import usaddress

ModuleNotFoundError: No module named 'usaddress'

In [ ]:
from math import *

### Functions

[1, 2, 3, 4, 5] Square all the numbers

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
nums = [1, 2, 3, 4, 5]
output = {}
for i in nums:
    output[i] = i**2

In [44]:
def square(lis):
    output = {}
    for i in lis:
        output[i] = i**2
    return output

In [45]:
square([1, 2, 3, 4, 5])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [46]:
def square(lis):
    '''
    The function .......
    :param lis: list
    :return: dictionary
    
    Example: lis = [1, 2, 3]
    returns {1: 1, 2: 4: 3: 9}
    '''
    output = {}
    for i in lis:
        output[i] = i**2
    return output

In [47]:
square()

TypeError: square() missing 1 required positional argument: 'lis'

In [48]:
def square(lis = [4, 5, 6]):
    '''
    The function .......
    :param lis: list
    :return: dictionary
    
    Example: lis = [1, 2, 3]
    returns {1: 1, 2: 4: 3: 9}
    '''
    output = {}
    for i in lis:
        output[i] = i**2
    return output

In [53]:
square([1, 2, 3])

{1: 1, 2: 4, 3: 9}

In [54]:
def divide(x, y):
    return x / y

In [55]:
divide(10, 5)

2.0

In [56]:
divide(y=10,x=5)

0.5

In [57]:
def divide(x = 2, y = 10):
    return x / y

In [60]:
divide(x = 20, y=10)

2.0

In [62]:
def divide(x = 2, y):
    return x / y

SyntaxError: non-default argument follows default argument (Temp/ipykernel_10888/3032086942.py, line 1)

In [63]:
def divide(y, x = 2):
    return x / y

In [64]:
divide(4)

0.5

In [65]:
def divide(y =10, x = 2):
    return x / y

In [67]:
divide(100)

0.02

In [78]:
name = 'Nigeria'

In [80]:
len(name.split())

1

In [70]:
name[:3].upper()

'NIG'

In [81]:
name = 'united states of america'

In [82]:
len(name.split())

4

In [72]:
name.split()

['united', 'states', 'of', 'america']

In [77]:
out = []
for ent in name.split():
    out.append(ent[0])
''.join(out).upper()

'USOA'

In [92]:
def create_abbrev(country_name):
    if len(country_name.split()) == 1:
        return country_name[:3].upper()
    else:
        outcast = ['of', 'in', 'a'] # creating dictionary
        out = []
        for ent in country_name.split():
            if ent not in outcast:
                out.append(ent[0])
        return ''.join(out).upper()

In [93]:
create_abbrev('united states of america in')

'USA'

In [94]:
# lambda function

In [95]:
def divide(x, y):
    return x / y

In [96]:
def square(x):
    return x ** 2

In [97]:
square(9)

81

In [100]:
(lambda x: x ** 2)(100)

10000

In [101]:
square2 = lambda x: x ** 2

In [102]:
square2(9)

81

In [106]:
(lambda x, y, z, p: x / y)(y = 10, x = 2, p = 1, z = 3)

0.2

In [1]:
input()

23

'23'

In [13]:
def multiply(x, y):
    return x * y

In [ ]:
def <name of the function>():
    <body of the function>
    print(), return , yield

In [14]:
print(Omolewa(3, 4))

12

In [4]:
c = multiply(3, 4)

In [6]:
c / 4

3.0

In [7]:
def multiply(x, y):
    print(x * y)

In [8]:
multiply(10, 3)

30

In [9]:
v = multiply(10, 3)

30

In [10]:
v

In [15]:
# Generator

In [16]:
lis = [2, 4, 6, 8, 10]

In [17]:
[i * 8 for i in lis]

[16, 32, 48, 64, 80]

In [25]:
gen = (i * 8 for i in lis)

In [26]:
next(gen)

16

In [27]:
def Gen():
    for i in lis:
        yield i * 8

In [28]:
gen = Gen()

In [31]:
next(gen)

48

In [ ]:
# cache

In [32]:
def multiply(x, y):
    return x * y

In [33]:
def multiply(*args):
    out = []
    for i in args:
        out.append(i * 8)
    return out

In [36]:
multiply(2, 3, 4, 1, 10, 9)

[16, 24, 32, 8, 80, 72]

In [41]:
def multiply(*charles):
    out = []
    for i in charles:
        out.append(i * 8)
    return out

In [42]:
multiply(2, 3, 4, 1, 10, 9)

[16, 24, 32, 8, 80, 72]

In [46]:
def square(**kwargs):
    print(kwargs)

In [48]:
square(x = 2, y = 5, c  = 10)

{'x': 2, 'y': 5, 'c': 10}