In [53]:
def sample_query_entities_multiple_params(**kwargs):
    
    print(kwargs)
    string = []
    for key in kwargs.keys():
        string.append(key)
    print(string)
    concat = ' eq @{} and '.join(string)
    #print(concat.format('Omolewa'))
    print(concat)
    #name_filter = "Name eq @name and Brand eq @brand and Age eq @age and Country eq @country"
    #print(name_filter)

In [54]:
sample_query_entities_multiple_params(age=10, ht = 6.5, ad = 300, wq = 100, qw = 80)

{'age': 10, 'ht': 6.5, 'ad': 300, 'wq': 100, 'qw': 80}
['age', 'ht', 'ad', 'wq', 'qw']
age eq @{} and ht eq @{} and ad eq @{} and wq eq @{} and qw

In [8]:
def multiply(x):
    return 2 * x

In [9]:
multiply(4)

8

In [10]:
def multiply(x, y):
    return x * y

In [11]:
multiply(2, 3)

6

In [18]:
def multiply(*args):
    print(args)

In [19]:
multiply(2, 3, 4, 5, 6, 100, 2, 100999)

(2, 3, 4, 5, 6, 100, 2, 100999)

In [20]:
def multiply(x = 2, y = 5):
    return x * y

In [21]:
multiply(x = 7, y = 5)

35

In [22]:
def multiply(**kwargs):
    print(kwargs)

In [24]:
multiply(a = 10, y = 19, z = 17)

{'a': 10, 'y': 19, 'z': 17}

In [29]:
def multiply(*args, **kwargs):
    print(args)
    print(kwargs)
    print(kwargs.keys())
    kwargs['qp'] = 100000000000
    print(kwargs)

In [30]:
multiply(2, 3, 4, 5, x = 7, y = 10)

(2, 3, 4, 5)
{'x': 7, 'y': 10}
dict_keys(['x', 'y'])
{'x': 7, 'y': 10, 'qp': 100000000000}

In [62]:
def sample_query_entities_multiple_params(**kwargs):
    
    print(kwargs)
    lis = []
    for key in kwargs.keys():
        lis.append('{0} eq @{1} '.format(key, key.lower()))
    #name_filter = "Name eq @name and Brand eq @brand and Age eq @age and Country eq @country"
    #print(name_filter)
    print(''.join(lis))

In [63]:
sample_query_entities_multiple_params(Age=10, Ht = 6.5, Ad = 300, Wq = 100, Qw = 80)

{'Age': 10, 'Ht': 6.5, 'Ad': 300, 'Wq': 100, 'Qw': 80}
Age eq @age Ht eq @ht Ad eq @ad Wq eq @wq Qw eq @qw