In [1]:
class Maths:
    x = 5
    y = 10

In [4]:
maths1 = Maths()
maths2 = Maths()

In [5]:
maths1.x

5

In [119]:
maths2.x()

TypeError: 'int' object is not callable

In [7]:
maths1.x = 10000

In [8]:
maths1.x

10000

In [9]:
maths2.x

5

In [ ]:
Maths = Maths()

In [40]:
class Maths:
    x = 5
    y = 10
    
    def get(self):
        print(self.out)
        
    def multiply(self, x, y):
        return x * y
    
    def divide(self, x, y):
        self.out = x / y

In [41]:
maths = Maths()

In [42]:
maths.multiply(2, 3)

6

In [43]:
maths.divide(4, 2)

In [44]:
maths.get()

2.0

In [48]:
class Process:
    
    def print_fname(self):
        print('Omolewa')
        
    def print_lname(self):
        print('Adaramola')
        
    def print_mname(self):
        print('Bukola')
        
    def run_process(self):
        self.print_fname()
        self.print_mname()
        self.print_lname()

In [49]:
process = Process()

In [50]:
process.run_process()

Omolewa
Bukola
Adaramola

In [60]:
class Process:
    
    def print_fname(self):
        return 'Omolewa'
        
    def print_lname(self):
        return 'Adaramola'
        
    def print_mname(self):
        return 'Bukola'
        
    def run_process(self):
        fname = self.print_fname()
        lname = self.print_lname()
        mname = self.print_mname()
        
        print('{}, {}, {}'.format(lname, fname, mname))
        
        print(' '.join([lname, fname, mname]))

In [61]:
process = Process()

In [62]:
process.run_process()

Adaramola, Omolewa, Bukola
Adaramola Omolewa Bukola

In [117]:
class Process:
    
    def __init__(self, lname, fname, mname = None):
        pass
        self.lname = lname
        self.mname = mname
        self.fname = fname
        
        def concat():
            print('{0} {1}'.format(self.fname, self.lname))
        concat()
        
    def print_fname(self):
        return self.fname
        
    def print_lname(self):
        return self.lname
        
    def print_mname(self):
        return self.mname
        
    def run_process(self):
        fname = self.print_fname()
        lname = self.print_lname()
        mname = self.print_mname()
        
        if mname == None:
            print('{}, {}'.format(lname, fname))
        else:
            print('{}, {} {}'.format(lname, fname, mname))

In [118]:
process = Process(lname = 'Adaramola', fname= 'Bukola', mname = 'David')

Bukola Adaramola

In [75]:
process.run_process()

Adaramola, Bukola David

In [13]:
x = [1, 2, 3, 4, 4, 2, 1, 10, 34]

In [14]:
set(x)

{1, 2, 3, 4, 10, 34}

In [15]:
set((1, 2, 2, 3))

{1, 2, 3}

In [83]:
import pandas as pd

In [86]:
pd.set_option('display.max_columns', 100)

In [87]:
df = pd.read_csv('Telco.csv')

In [96]:
df = df.head(3)

In [100]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [101]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,0,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,0,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,0,Mailed check,53.85,108.15,Yes

In [106]:
class Process:
    def __init__(self, df):
        print('Brown')
        self.df = df
    
    def convert(self):
        self.df['PaperlessBilling'] = self.df['PaperlessBilling'].apply(lambda x: 1 if x == 'Yes'
                                                                       else(0))
        
    def multiply(self):
        self.df['Charges'] = self.df['MonthlyCharges'] * self.df['TotalCharges']
        
    def run(self):
        self.convert()
        #self.multiply()
        return self.df

In [107]:
process = Process(df)

Brown

In [104]:
cf = process.run()

C:\Users\OMOLEW~1\AppData\Local\Temp/ipykernel_27316/2845300179.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df['PaperlessBilling'] = self.df['PaperlessBilling'].apply(lambda x: 1 if x == 'Yes'

In [105]:
cf

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,0,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,0,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,0,Mailed check,53.85,108.15,Yes

In [ ]:
pass
continue
break

In [109]:
names = ['Omolewa', 'Adebola', 'Femi', 'Olowo']

In [116]:
for name in names:
    if name[0] == 'A':
        break
    else:
        print(name)

Omolewa

In [114]:
class Maths:
    def __init__(self):
        pass
    
    def calc(self):
        pass
    
    def minus(self):

IndentationError: expected an indented block (Temp/ipykernel_27316/416321013.py, line 9)